.Wrapper
  .Logo
    .Logo_waku
      %h1.Logo__title
        イチログ
      %h3.Logo__catchcopy
        キャッチコピー

  .Account_touroku
    .Login_form
      .Login_form__mailaddress
        メールアドレス
      .Login_form__password
        パスワード（英数字８文字以上）

      .Login_form__loginbtn
        ログイン


    %ul.Login_button   
      %li.Account__btn 
        新規登録
      %li.Account__btn 
        Twitterで登録
      %li.Account__btn 
        Googleで登録    
    .Account__touroku--btn
