.Header
  .Header_left
    = link_to "イチログ", root_path

  .Header_right
    - if user_signed_in?    
      = link_to "ログアウト", destroy_user_session_path, class: "Header_right__loginlogout Header_right__loginlogout--logout", method: :delete
      = current_user.user_name
    -else
      = link_to "ログイン", new_user_session_path, class: "Header_right__loginlogout Header_right__loginlogout--login" 