.Wrapper
  .Container
    .Main
      .Logo
        %h1.Logo__waku
          Ichilog
              
      %h3.Logo__catchcopy
        あなたの好きなものをレビューをしよう！

      .Account_touroku
        .Login_form
          = link_to "ログインする", new_user_session_path, class: "Login_form__login Login_form__login--kokosaito" 
          = link_to "新規登録", new_user_registration_path, class: "Login_form__login Login_form__login--tasaito"        