.Mypage
  .Mypage_header

  .Mypage_Main
    .Mypage_Main__left
      .Profile_waku
        .Profile_waku__image
          = link_to "#", class: "Account__btn Account__btn--User" do
            = icon('fas', 'user-circle fa-5x',  class: "Account__btn--icon")        
        .Profile_waku__user_name
          %h1 村田元暉

    .Mypage_Main__right
