//全体部分
.Wrapper{
  height:100vh;
  width:100vw;
  background-color:#2626ff;
  background-image:linear-gradient(135deg,#0ebfee,#2626ff);
  color:white;  
}

.Container{
}

//メイン部分
.Main{
  height: calc(100vh - 200px);
  text-align:center;
}

.Logo{
  padding-top:30px;

  &__waku{
    font-size:140px;    
  }

  &__catchcopy{
    padding-bottom:30px;
    font-size:20px;
  }

  &__title{
    font-size:100px;
    padding-bottom: 50px;
  }


}

.Login_form{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  width:100%;

  input{
    display:block;
    width:30%;
    padding:5px;
    margin:10px;
  }



  &__login{
    margin-top:10px;
    width:20%;
    border-radius:20px;
    padding:10px;
   

    &--kokosaito{
      color:black;
      background-color:yellow;
      margin: 10px 0px;
    }
    &--tasaito{
      color:white;
      background-color:blue;
    }

  }
}


//フッター部分
.footer{
  height:100px;

}
.Account{
  display: flex;
  justify-content: center;
  text-align:center;  
}

.Account__btn{
  margin:10px;
  padding:10px;
  width:10%;
  border-radius: 20px;
  
  &--shinki{
    background:#34526f;
    padding: 10px 40px;
  }

  &--twitter{
    background:#00aced;
  }
  &--google{
    background:#db4a39;
  }


}

a{
  color:#fff;
  font-size:16px;
  text-decoration:none;
}