//全体部分
.Wrapper{
  height: calc(100vh - 80px);
  width:100vw;
  background-color:#2626ff;
  background-image:linear-gradient(135deg,#0ebfee,#2626ff);
  color:white;  
}

.Container{

}

//メイン部分
.Main{

  text-align:center;
  

}

.Logo{
  padding-top:30px;

  &__waku{
    font-size:140px;    
  }

  &__catchcopy{
    padding-bottom:30px;
    font-size:20px;
  }

  &__title{
    font-size:100px;
    padding-bottom: 50px;
  }


}

.Login_form{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  height:200px;
  width:100%;

  input{
    display:block;
    width:30%;
    padding:5px;
    margin:10px;
  }



  &__login{
    margin-top:10px;
    width:20%;
    border-radius:20px;
    padding:10px;
   

    &--kokosaito{
      color:black;
      background-color:yellow;
      margin: 10px 0px;
    }
    &--tasaito{
      color:white;
      background-color:blue;
    }

  }
}

.Account_fotter{
  height:20px;
  background-color:white;
  text-align:center;
  
  h2{
    color:black;
    font-size:12px;
  }

}
