/***新規投稿画面***/

.Post_Main{
  width: 100%;
  background-color: #2626ff;
  background-image: linear-gradient(135deg, #0ebfee, #2626ff);
  color: white;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 80px);
}

.Post_Area{
  display:flex;
  flex-direction:column;
  min-width: 680px;
  padding: 50px 0px;

  &__Waku{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  &--shouhin_area{
    resize: none;
    width: 400px;
    height: 30px;

    resize: none;
    display: block;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .Waku{
    margin: 10px 0px;
  }
  

  &--categroy_area{
    resize: none;
    width: 300px;
    height: 30px;

    resize: none;
    display: block;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

  }

  &--honbun_area{
    resize: none;
    height: 250px;

    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

  }


}

.Post_Oowaku{
  display: flex;
  max-width: 680px;
}

.Post_Area_waku{
  width:65%;
}

.Post_Image_waku {
  width:35%;
  height:150px;
  padding:0px 30px;

  img{
    height:70%;
  }
}

.Post_submit{
  display: flex;
  justify-content: center;
  align-items: center;

  &__toukou{
    width:200px;
    padding:20px;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
    margin-top: 20px;
    
    &--btn{
      display:block;
      cursor: pointer;
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
    }


  }
}

/***投稿詳細画面***/
.Shousai{
  min-height: calc(100vh - 80px);
  width: 100vw;
  background-color: #2626ff;
  background-image: linear-gradient(135deg, #0ebfee, #2626ff);
  color: white;
  overflow: scroll;
  
}


.Shousai_Oowaku{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  width:100%;
}


.Shousai_left{
  height: calc(100% - 80px);
  width:30vw;
  padding: 50px;

  &__image{



    img{
      width:Auto;
      max-width:450px;
      height:450px;
    }
  }
  
}


.Shousai_right{
  width: 70vw;
  height: calc(100% - 80px);
  padding:50px;

}
.Shousai__Honbun{
  padding: 50px;
  border: 1px solid white;
  overflow: scroll;
  min-height: calc(100% - 60%);
  max-height: calc(100% - 60%);
}

.Comments{
    min-height: calc(100% - 80%);
    border: 1px solid white;
    margin: 20px 0px;
}

.Coment_Waku{

  &--ichiran{
    width:100%;
  }

  &--toukou{

    form{
      text-align: center;
      margin:20px 0px;
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    textarea{

      height:150px;
    }
  }

}

.Come_waku{
  
  text-align: center;
  padding: 20px;
  margin: 20px;
  display:flex;

  &__userinfo{
    display:flex;
    border: 1px solid;
    width: 20%;
  }

  &__user{

  }

  &__info{
  }

  &__honbun{
    border: 1px solid;
    width: 80%;
  }

}

.star-rating{
  display:flex;
}

.Kakushi{
  height:20px;
  width:30px;
  margin-left:30px;
}