/***新規投稿画面***/

.Post_Main{
  width: 100%;
  background-color: #2626ff;
  background-image: linear-gradient(135deg, #0ebfee, #2626ff);
  color: white;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 80px);
}

.Post_Area{
  display:flex;
  flex-direction:column;
  min-width: 680px;
  padding: 50px 0px;

  &__Waku{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  &--shouhin_area{
    resize: none;
    width: 400px;
    height: 30px;

    resize: none;
    display: block;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .Waku{
    margin: 10px 0px;
  }
  

  &--categroy_area{
    resize: none;
    width: 300px;
    height: 30px;

    resize: none;
    display: block;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

  }

  &--honbun_area{
    resize: none;
    height: 250px;

    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

  }


}

.Post_Oowaku{
  display: flex;
  max-width: 680px;
}

.Post_Area_waku{
  width:65%;
}

.Post_Image_waku {
  width:35%;
  height:150px;
  padding:0px 30px;

  img{
    height:70%;
  }
}

.Post_submit{
  display: flex;
  justify-content: center;
  align-items: center;

  &__toukou{
    width:200px;
    padding:20px;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
    margin-top: 20px;
    
    &--btn{
      display:block;
      cursor: pointer;
      color: #fff;
      background-color: #5cb85c;
      border-color: #4cae4c;
    }


  }
}

/***投稿詳細画面***/
.Shousai{
  min-height: calc(100vh - 80px);
  background-color: #2626ff;
  background-image: linear-gradient(135deg, #0ebfee, #2626ff);
  color: white;
  
  &__honbun_sukosi{
    overflow: hidden;
    height: 5em;
    line-height: 1.7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 14px;
    margin:10px 0px;
    }

  &__user{
    display:flex;
    
  }

  &__userlist{
    margin:30px;
  }

  &__user_icon{
    width: 25%;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    margin: 10px;

    img{
      display:block;
    }

    a{
      font-size:12px;
    }

  }

  &__toukoucheck{
    display:block;
    margin:10px 0px;
    border:1px solid white;
    border-radius:10px;
  }


}


.Shousai_Oowaku{
  display: flex;
  width:100%;
}



.Shousai_left{
  height: calc(100% - 80px);
  width:30vw;
  padding: 50px;

  &__image{
    width: 100%;
    text-align: center;

    img{
      width:Auto;
      max-width:400px;
      height:400px;
    }
  }

  .Shousai_left_profile{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    top: 350px;
    left: 300px;
    border: 3px solid white;

    img{
      height: 150px;
      width: 150px;
    }
  }

  
}

.Shousai_information{
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.Shousai_right{
  width: 70vw;
  height: calc(100% - 80px);
  padding:50px;

}
.Shousai__Honbun{
  padding: 50px;
  border: 1px solid white;
  overflow: scroll;
  min-height: 300px;
}

.Comments{
  min-height: calc(100% - 80%);
  width: 980px;
}

.Comment_Oowaku{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
  padding-top: 10px;
}

.Coment_Waku{
  
  display:flex;
  width: 980px;

  &--ichiran{
    width: 100%;
    max-height: 500px;
    min-height: 300px;
    overflow: scroll;
    border: 1px solid;
    border-radius: 20px;
    margin:30px;
    

    h1{
      font-size: 22px;
    }

  }

  &--toukou{

 
  }

}

.Come_waku{
  
  text-align: center;
  padding: 20px;
  margin: 20px;
  display:flex;

  &__userinfo{
    width:150px;
    font-size:16px;
  }

  &__text{
    height:80%;
  }

  &__sonota{
    text-align: right;
    font-size: 12px;
  }

  &__user{

    img{
      border-radius: 100px;
      height: 150px;
      width: 150px;
    }

  }

  &__info{
  }

  &__honbun{
  position: relative; /* 三角の位置を固定するために設定 */
  display: inline-block;
  width: 600px;
  margin: 10px 40px 20px; /* 上 左右 下のマージン */
  padding: 8px 15px; /* ふきだし内の余白 */
  background: white; /* 背景色 */
  text-align: left; /* テキストの揃え */
  border-radius: 15px;
  color:black;

  &--Search{
    height:100px;


    a{
      color:black;
      overflow: hidden;
      height: 5em;
      line-height: 1.7;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      font-size: 14px;
    }
  }

  }



  &__honbun::before{

  }

  &__honbun::after{
    content: '';
    border: 14px solid transparent;
    border-top-color: white;
    position: absolute;
    top: 30px;
    left: -10px;

  }

}

.Comment_toukou{
  form{
    text-align: center;
  }

  textarea{
  resize: none;
  height: 150px;
  width:100%;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  }

  input{
    cursor: pointer;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
    margin-top: 20px;
    }

}


.star-rating{
  display:flex;
}

.Kakushi{
  height:20px;
  width:30px;
  margin-left:30px;
}


//投稿ページ（create）

.Create_Container{
  height:calc(100vh - 80px);
  width: 100%;
  background-color: #2626ff;
  background-image: linear-gradient(135deg, #0ebfee, #2626ff);
  color: white;
}

.Create_Waku{
  text-align:center;
  height:100%
}

.Create_Message{
  height:75%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__waku{
    font-size: 52px;
    padding:10px 150px;
    border: 3px solid white;
    border-radius:30px;
    background-image: url(/assets/おしゃれ);

    h1{
    color: white;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px
    }
  }

  img{
    height: 150px;
    width: Auto;
    
  }

}

.Create_Share{
  height:30%;
  font-size:16px;
}

.Create_Dotti{

  a{
    font-size:22px;
    text-decoration: underline;
  }
  
}

.Create_kabu{

  a{

  }
}

.Create_Share{

}

.CommentNashi{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Comment_title{
  border: 1px solid white;
  padding: 15px;
}

.User_icon{
  display:flex;
  justify-content: center;

    img{
      margin: 10px;
      padding: 10px;
      width: 100px;
      border-radius: 100px;
      height: 100px;
    }
}