.Shousai{
  height:100vh;
  max-width:100vw;
  background-color: #2626ff;
  background-image: linear-gradient(135deg, #0ebfee, #2626ff);
  color: white;
  
}


.Shousai_Oowaku{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  width:100%;
}


.Shousai_left{
  width:30vw;
  padding: 50px;
}

.Shousai_right{
  width: 50vw;
  height: calc(100% - 100px);
  padding:50px;
}
