.Mypage{
  background-color:#2626ff;
  background-image:linear-gradient(135deg,#0ebfee,#2626ff);
  color:white;    
  min-height: calc(100vh - 80px);
}


.Mypage_Main{
  display:flex;

  &__left{
    width:calc(30vw);
  }

  .User_infomation{
    border: 1px solid;
  }

  .Profile_waku{
    height:150px;
    padding:25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image{
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__user_name{
      font-size:20px;
      width: 50%;
      height: 100%;    
      display: flex;
      align-items: center;  
    }
    
    &__info{
      width: 100%;
      height: 10%;
    }
  }

  .Infomation{
    display:flex;
    justify-content: space-around;
    margin: 10px 0px 30px 0px;
    border: 1px solid;
  }

  .Toukou{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
  }

  .Toukou__Review{
    padding: 50px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid white;
    
    &--btn{

    }
  }

  &__right{
    width:calc(70vw);
    border-left: 1px solid white;
    min-height: calc(100vh - 80px);


    h1{
      font-size:32px;
      width:100%;
    }
  }
  
  &__right_info{
  }


  .Review{
    height: 200px;
    width: 95%;
    max-width:100%;
    margin: 10px;
    border: 1px solid;
    display: flex;
  }

    .Review_left{
      height: 200px;
      width: 250px;
      &__image{
      }
  
    }

    .Review_right{
      width: 80%;
      padding-left:20px;

    
     &__Honbun{
      padding: 10px 0px 10px 10px;
     }

     &__date{
      padding: 10px 0px 10px 10px;      
     }
    
    }
  
    .Title_category{
      display:flex;
      width: 100%;
      padding: 10px 0px 10px;      

      &__title{
        font-size:24px;
        width:30%;
      }

      &__category{

      }

    }
  
  .Right_kabu{
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__info{
      display: flex;
      
      h2{
        margin-right:10px;
      }
    }

  }




}
