.Signin_wrapper

  .Signin_wrapper__container
    %h2 ログイン
    .Signin_wrapper__container__close_btn
      ×    

    = form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|

      .field
        = f.email_field :email, placeholder:"メールアドレス", autofocus: true
      .field
        = f.password_field :password, placeholder:"パスワード", autocomplete: "off"
      -# - if devise_mapping.rememberable?
      -#   .field
      -#     = f.label :パスワードを記録する
      -#     %br/
      -#     = f.check_box :remember_me
      .Signin_wrapper__container__submit
        = f.submit "ログイン"
    -# %ul.Account
    -#   %li.Account__btn.Account__btn--twitter
    -#     = icon('fab', 'twitter',  class: "Account__btn--icon")
    -#     = link_to 'Twitterでログイン','#'
    -#   %li.Account__btn.Account__btn--google
    -#     = icon('fab', 'google',  class: "Account__btn--icon")
    -#     = link_to 'googleでログイン'
