.Mypage
  .Mypage_Main.Mypage_Main--Search

    .Mypage_Main__right.Mypage_Main__right--Search                  
      %h1
      .Mypage_Main__right_info
        - @posts.each do |p|  
          .Review
            .Review_left
              .Review_left__image.Review_left__image--search_image
                - if p.user.profile_image.present?
                  = link_to user_path(p.user.id)  do
                    =image_tag p.user.profile_image, size: "150x200", alt: "画像"
                    =link_to p.user.user_name, post_path(p.id)
                - else
                  = link_to post_path(p.id)  do                
                    %img.Review_left__No_image{ src: "/assets/Noimage.png", size: "150x200", alt: "logo" }  
                    =link_to p.user.user_name, post_path(p.id)
            .Review_right
              .Title_category 
                .Title_category__title
                                       
              .Come_waku__honbun.Come_waku__honbun--Search
                =link_to p.content, post_path(p.id)
                

              
              

              .Right_kabu.Right_kabu--Search
                //削除するいいねを”likesテーブルのIDから取得したい！！現在はpostidを取得している。”
                .Right_iine.Right_iine--Search
                  -# - if Like.find_by(user_id:current_user.id, post_id: p.id)
                  -#   = link_to(post_like_path(p.id), {method: "delete"}) do
                  -#     = icon('fas', 'heart',  class: "Account__btn--icon")
                  -# - else
                  -#   = link_to(post_likes_path(p), {method: "post"}) do
                  -#     = icon('far', 'heart',  class: "Account__btn--icon")                

                  -# =Like.where(post_id: p.id).count
                
                  .Right_comment
                    .Right_comment__title
                      =image_tag p.image.url, size: "150x200", alt: "画像"
                      =link_to p.title,search_posts_path(p.title)
                      
                    -# = link_to post_path(p.id)  do
                    -#   = icon('far', 'comment-dots',  class: "Account__btn--icon")
            

                    -# =Comment.where(post_id: p.id).count

                                  
                    

                .Right_kabu__date
                  =p.created_at
