.Shousai
  .Shousai_Oowaku
    .Shousai_left
      .Shousai_left__image
        - if @posts.image.present?
          =image_tag @posts.image.url, size: "350x400", alt: "画像"
        - else
          画像なし       
      .Shousai_left__title
        =@posts.title
        .Shousai_left__category
          =@posts.category

      .Right_kabu
        .Right_kabu__date
          =@posts.created_at
        .Right_kabu__info
          %h2
            編集            
          %h2
            削除          
       

    .Shousai_right      
      .Shousai__Honbun
        =@posts.content

  .Comments     
