.Shousai
  .Shousai_Oowaku
    .Shousai_left
      .Shousai_left__title
        =@posts.title    
      .Shousai_left__image
        - if @posts.image.present?
          =image_tag @posts.image.url, alt: "画像"
        - else
          %img.Review_left__No_image{ src: "/assets/Noimage.png", alt: "logo" } 
      .Shousai_information    
        .Shousai_category_userjyouhou
          .Shousai_left__hyouka
            評価：
            =@posts.rate

            .Shousai_left__category
              カテゴリ：
              =@posts.category

          .Shousai_left_user_jyouhou
            .Shousai_left__user_image
              =image_tag @posts.user.profile_image.url, alt: "画像"        
            .Shousai_left__user_name
              投稿者：<br>
              =@posts.user.user_name



        .Shousai_left_datearea
          .Shousai_left_datearea__date
            更新日時：
            =@posts.updated_at
          .Shousai_left_datearea__info
            - if user_signed_in? && current_user.id == @posts.user_id
              %h2
                編集            
              %h2
                削除          
            - else

    .Shousai_right      
      .Shousai_Honbun_User
        .Shousai_Honbun_User__Honbun
          =simple_format(h(@posts.content))       #「simple_format」改行ありで表示することが可能なメソッド
        
      
      .Shousai__userlist
        このレビューを他に投稿した人：
        .Shousai__user
          -@post.each do |post|
            -if @posts.title == post.title
              -if @posts.user_id == post.user_id      #投稿したのが自分の場合は除外
                
              -else
                .Shousai__user_icon
                  = link_to user_path(post.user.id), class: "User_icon" do
                    =image_tag post.user.profile_image, size: "150x200", alt: "画像"
                  =link_to post.user.user_name,user_path(post.user.id)

                  .Shousai__honbun_sukosi
                    =post.content

                  =link_to "投稿をみる",post_path(post.id),class: "Shousai__toukoucheck"  
                                     
            -else
              
              
          //=@posts.user.user_name

  .Comment_Oowaku
    .Comments
      .Comment_toukou    
        -if current_user        
          = form_with(model: [@posts,@comment], local: true) do |form|
            = form.text_area :text, placeholder: "コメントする", rows: "2"
            = form.submit "SEND"
        -else
          %p ※コメントの投稿には新規登録、またはログインが必要です※
      .Coment_Waku
        .Coment_Waku--ichiran    
          %h1.Comment_title コメント一覧：
          -if @comments
            -@comments.each do |comment|
              .Come_waku
                .Come_waku__userinfo
                  .Come_waku__user
                    //%img.Review_left__No_image{ src: "/assets/Noimage.png", size: "100x150", alt: "logo" }
                    =image_tag comment.user.profile_image, size: "150x200", alt: "画像"
                  .Come_waku__info
                    =comment.user.user_name                        

                .Come_waku__honbun
                  .Come_waku__text
                    =comment.text 
                  .Come_waku__sonota
                    =comment.created_at                    
          -else          
          //%h1.CommentNashi ※まだコメントはありません。
                        