/*共通設定*/

// * {
//   box-sizing: border-box;
// }

a{
  text-decoration: none;
  color:white;
  font-size:16px;
}


/*エラーメッセージ*/
#error_explanation{
  display:none;
  position: absolute;
  top: 10px;
  background: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  color: red;
  left: 10px;
}

// /*flash*/
// .Notification{
//   .alert{
//     background-color: #F35500;
//     color: #fff;
//     text-align: center;
//     right: 0px;
//     padding: 20px;
//     position: absolute;
//     z-index: 10;
//     width: 100vw;
//   }
// }